 <div id="comments">
         <% if @comments %>
        <% @comments.each do |comment| %>
          <p></p>
            <strong><%= link_to comment.user.name, "/users/#{comment.user_id}" %>：</strong>
            <%= comment.content %>
<p><%= link_to "Delete", post_comment_path(@post, comment), method: :delete, data: { confirm: 'Are you sure?' } %> 
        <% end %>
      <% end %>
  </div>