  <h3>ブックマーク一覧</h3>
  <thead>
    <tr>
      <th>タイトル:</th>
    </tr>
  </thead>
  <tbody>
    <% @bookmarks.each do |bookmark| %>
      <tr>
        <td>
          <%= link_to post_path(bookmark.post) do %>
            <%= bookmark.post.title %>|
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>